body {
    background-color: #FFFFFF;
}

header {
    background-color: #61787F;
    height: 122px;
    border: 1px, solid, #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 10em;
    height: auto;
}

h1 {
    display: none;
}

h2 {
    color: #000000;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    margin: 0.3em;
}

.best-movie-box {
    border: 6px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

h3 {
    color: #000000;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 48px;
    margin: 0em;
}

.best-movie-box img {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 0.5em;
}

.best-movie-details {
    display: flex;
    flex-direction: column;
}

.best-movie-details p {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 1.8em;
    margin-top: 0em;
}

.best-movie-details button {
    background-color: #FA0B0B;
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
    border: none;
    border-radius: 25px;
    width: 166px;
    height: 68px;
    margin: 10px;
    padding: 2px, 4px, 2px, 4px;
    align-self: center;
}

.movie-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
}

.movie-grid-cell {
    display: grid;
}

.movie-grid img,
.movie-grid-cell-details {
    grid-column: 1;
    grid-row: 1;
}

.movie-grid img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.movie-grid-cell-details {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 20% 0 auto 0;
    display: flex;
    flex-direction: column;
}

h4 {
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 1em 0.5em 0em;
}

.movie-grid-cell-details button {
    background-color: #2D2C2C;
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 81.97px;
    height: 25.3px;
    border: none;
    border-radius: 25px;
    padding: 2px, 4px, 2px, 4px;
    margin: 10px;
    align-self: flex-end;
}

.category-selection {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

select {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 0.5em;
    padding-left: 0.3em;
}

option {
    font-size: 0.6em;
}

/*Responsive design from tablets to desktops*/
@media screen and (min-width: 768px) {
    .logo {
        margin-left: 20px;
    }
    h1 {
        display: block;
        color: #FFFFFF;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        font-size: 40px;
        margin: auto;
    }
    h2 {
        text-align: left;
    }
    .best-movie-box {
        flex-direction: row;
        gap: 2em;
        padding: 1em;
        align-items: stretch;
    }
    .best-movie-box img {
        height: 25em;
        width: auto;
        aspect-ratio: auto;
        margin: 0em;
    }
    .best-movie-details button {
        align-self: flex-end;
        justify-self: flex-end;
        margin-top: auto;
    }
    .movie-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .category-selection {
        flex-direction: row;
        width: auto;
    }
    select {
        font-family: "Oswald", sans-serif;
        font-weight: 600;
        font-size: 2.5em;
        margin: auto auto auto 0;
    }
    option {
        font-size: 0.8em;
    }
}