body {
    background-color: #FFFFFF;
}

header {
    background-color: #61787F;
    height: 122px;
    border: 1px, solid, #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 10em;
    height: auto;
}

h1 {
    display: none;
}

h2 {
    color: #000000;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    margin: 0.3em;
}

.best-movie-box {
    border: 6px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

h3 {
    color: #000000;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    margin: 0em;
}

.best-movie-box img {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 0.5em;
}

.best-movie-details {
    display: flex;
    flex-direction: column;
}

.best-movie-details p {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    margin-top: 0em;
}

.movie-details-button {
    background-color: #FA0B0B;
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
    border: none;
    border-radius: 25px;
    margin: 10px;
    padding: 0.5em 2em;
    align-self: center;
    text-decoration: none;
}

.modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal:target {
    visibility: visible;
} 

.modal-content {
    border: 6px solid #000000;
    background-color: #FFFFFF;
    padding: 1.8em;
    max-width: 70%;
    max-height: 85%;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto auto auto auto;
    overflow: scroll;
}

.modal-content > :nth-child(n+2) {
    grid-column: 1 / -1;
}

.modal-content h3 {
    grid-column: 1;
    grid-row: 1;
    margin-right: auto;
}

.modal-content .modal-close {
    grid-column: 2;
    grid-row: 1;
    font-size: 1.5em;
    background: none;
    border: none;
    text-decoration: none;
    margin: auto;
}

.modal-content h5 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 0;
}

.modal-content .directors-section,
.modal-content .summary-section {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    margin: 0;
}

.modal-content img {
    height: auto;
    width: 100%;
    justify-self: center;
    aspect-ratio: initial;
    margin-top: 2em;
    margin-bottom: 2em;
}

.modal-content .actors-section {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    margin: 0;
}

.movie-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
}

.movie-grid > *:nth-child(n+3) {
    display: none;
}

.see-more {
    display: block;
    text-align: center;
}

.see-more input {
    display: none;
}

.see-more-button {
    display: inline-block;
    background-color: #FA0B0B;
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
    border: none;
    border-radius: 25px;
    padding: 0.2em 3.5em;
    margin: 1em auto 0.5em;
    cursor: pointer;
}

.see-more-button::after {
    content: "Voir plus";
}

.grid-and-see-more:has(input:checked) .movie-grid > *:nth-child(n) {
    display: grid;
}

.see-more input:checked + .see-more-button::after {
    content: "Voir moins";
}

.movie-grid-cell {
    display: grid;
}

.movie-grid img,
.movie-grid-cell-details {
    grid-column: 1;
    grid-row: 1;
}

.movie-grid img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.movie-grid-cell-details {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 20% 0 auto 0;
    display: flex;
    flex-direction: column;
}

h4 {
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 1em 0.5em 0em;
}

.movie-grid-cell-details button {
    background-color: #2D2C2C;
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 81.97px;
    height: 25.3px;
    border: none;
    border-radius: 25px;
    padding: 2px, 4px, 2px, 4px;
    margin: 10px;
    align-self: flex-end;
}

.category-selection {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

select {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 0.5em;
    padding-left: 0.3em;
}

option {
    font-size: 0.6em;
}

/*Responsive design from medium to large screen*/
@media screen and (min-width: 768px) {
    .logo {
        margin-left: 20px;
    }
    h1 {
        display: block;
        color: #FFFFFF;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        font-size: 40px;
        margin: auto;
    }
    h2 {
        text-align: left;
    }
    .best-movie-box {
        flex-direction: row;
        gap: 2em;
        align-items: stretch;
    }
    .best-movie-image {
        height: 25em;
        width: auto;
        aspect-ratio: auto;
        margin: 0em;
    }
    .best-movie-details {
        flex: 1 1 auto;
    }
    .movie-details-button {
        align-self: flex-end;
        justify-self: flex-end;
        margin-top: auto;
    }
    .movie-grid {
        grid-template-columns: 1fr 1fr;
    }
    .movie-grid > *:nth-child(n) {
        display: grid;
    }
    .movie-grid > *:nth-child(n+5) {
        display: none;
    }
    .category-selection {
        flex-direction: row;
        width: auto;
    }
    select {
        font-family: "Oswald", sans-serif;
        font-weight: 600;
        font-size: 2.5em;
        margin: auto auto auto 0;
    }
    option {
        font-size: 0.8em;
    }
}

/*Responsive design for large screen*/
@media screen and (min-width: 992px) {
    .movie-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
        justify-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    .movie-grid > *:nth-child(n) {
        display: grid;
    }

    .see-more {
        display: none;
    }
}