body {
    background-color: #FFFFFF;
}

header {
    background-color: #61787F;
    height: 122px;
    border: 1px, solid, #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 127px;
    height: 94px;
    margin-left: 20px;
}

h1 {
    color: #FFFFFF;
    width: 514px;
    height: 51px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin: auto;
}

h2 {
    color: #000000;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 48px;
}

.best-movie-box {
    border: 6px solid #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

h3 {
    color: #000000;
    height: 44px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 48px;
}

.best-movie-box img {
    height: 20em;
    width: auto;
}

.best-movie-details {
    display: flex;
    flex-direction: column;
}

.best-movie-details p {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 28px;
}

.best-movie-details button {
    background-color: #FA0B0B;
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
    border: none;
    border-radius: 25px;
    width: 166px;
    height: 68px;
    margin: 10px;
    padding: 2px, 4px, 2px, 4px;
    align-self: flex-end;
}

.movie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-items: center;
}

.movie-grid-cell {
    display: grid;
    width: fit-content;
}

.movie-grid img,
.movie-grid-cell-details {
    grid-column: 1;
    grid-row: 1;
}

.movie-grid img {
    object-fit: cover;
    height: 30em;
    width: 30em;
}

.movie-grid-cell-details {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 20% 0 auto 0;
    display: flex;
    flex-direction: column;
}

h4 {
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 1em 0.5em 0em;
}

.movie-grid-cell-details button {
    background-color: #2D2C2C;
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 81.97px;
    height: 25.3px;
    border: none;
    border-radius: 25px;
    padding: 2px, 4px, 2px, 4px;
    margin: 10px;
    align-self: flex-end;
}

.category-selection {
    display: flex;
    flex-direction: row;
}

select {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 36px;
    margin-top: 40px;
    margin-left: 1em;
    height: 60px;
}